.heading{
    text-align: center;
    padding: $spacer-5 $spacer-0;

    &__head{
        color: $color-black;
        font-size: 40px;
        line-height: 46px;
        font-weight: 700;
        padding-bottom: $spacer-4;
    }

    &__content{
        color: $color-black;
        font-size: 20px;
        line-height: 26px;
    }
}
